.highlight-clean {
  color: #313437;
  background-color: #fff;
  padding-top: 42px;
  padding-bottom: 42px;
}

.highlight-clean p {
  font-family: 'Playfair Display', serif;
  font-size: 17px;
  font-style: italic;
  line-height: 1.6;
  margin-bottom: 0px;
  color: #99874d;
}

.highlight-clean h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 18px;
  /*line-height: 1.5;*/
  padding-top: 0;
  margin-top: 0;
  color: inherit;
}

@media (min-width: 768px) {
  .highlight-clean h2 {
    font-size: 48px;
  }
}

.highlight-clean .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto 25px;
  margin-bottom: 10px;
}

.highlight-clean .buttons {
  text-align: center;
}

.highlight-clean .buttons .btn {
  padding: 16px 32px;
  margin: 6px;
  border: none;
  background: none;
  box-shadow: none;
  text-shadow: none;
  opacity: 0.9;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 0.4px;
  line-height: 1;
  outline: none;
  background-color: #ddd;
}

.highlight-clean .buttons .btn:hover {
  opacity: 1;
}

.highlight-clean .buttons .btn:active {
  transform: translateY(1px);
}

.highlight-clean .buttons .btn-primary {
  background-color: #055ada;
  color: #fff;
}

