.twbs-pagination {
  margin-left: -15px;
  margin-top: -40px;
}

.article-body {
  padding-left: 5px;
  padding-right: 5px;
}

.article-badge {
  padding: 4px 6px;
  margin: 0px 4px 8px 0px;
}

.article-date {
  font-size: 13px;
  margin-top: 0px;
  margin-bottom: 8px;
}

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: rgb(153, 135, 77);
  border-color: rgb(153, 135, 77);
}

.page-link {
  position: relative;
  display: block;
  padding: .5rem .75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: rgb(108, 114, 122);
  background-color: #fff;
  border: 1px solid #dee2e6;
}

.badge-gold {
  color: #fff;
  background-color: rgb(153, 135, 77);
}

