<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>isabellacook.github.io</title>
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700">
    <link rel="stylesheet" href="../assets/css/article-list.css">
    <link rel="stylesheet" href="../assets/css/features-clean.css">
    <link rel="stylesheet" href="../assets/css/footer-basic.css">
    <link rel="stylesheet" href="../assets/css/Header-Blue-1.css">
    <link rel="stylesheet" href="../assets/css/header-blue.css">
    <link rel="stylesheet" href="../assets/css/highlight-blue.css">
    <link rel="stylesheet" href="../assets/css/highlight-clean.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
    <link rel="stylesheet" href="../assets/css/Lightbox-Gallery.css">
    <link rel="stylesheet" href="../assets/css/navigation-clean.css">
    <link rel="stylesheet" href="../assets/css/page-content.css">
    <link rel="stylesheet" href="../assets/css/projects-clean.css">
    <link rel="stylesheet" href="../assets/css/projects-horizontal.css">
    <link rel="stylesheet" href="../assets/css/Simple-Slider.css">
    <link rel="stylesheet" href="../assets/css/styles.css">
    <link rel="stylesheet" href="../assets/css/timeline.css">
</head>

<body>
    <div class="projects-horizontal">
        <div class="container">
            <div class="row projects" id="articles-calaveras-1">
                <div class="col-sm-6 item">
                    <div class="row">
                        <div class="col-md-12 col-lg-5"><a href="http://www.calaverasenterprise.com/news/article_dbe43080-659b-11e6-87d9-0bab7f1deeda.html" target="_blank"><img class="img-fluid" src="../assets/img/agriculture.jpg" data-bs-hover-animate="pulse"></a></div>
                        <div class="col">
                            <h3 class="name"><a href="http://www.calaverasenterprise.com/news/article_dbe43080-659b-11e6-87d9-0bab7f1deeda.html" target="_blank"><strong>County Agriculture Remained Strong Despite Butte Fire</strong><br></a></h3>
                            <p class="article-date"><i class="fa fa-clock-o"></i>Aug 18, 2016</p>
                            <p class="description">Calaveras County agriculture will persevere despite the Butte Fire.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 item">
                    <div class="row">
                        <div class="col-md-12 col-lg-5"><a href="http://www.calaverasenterprise.com/news/article_bdcaa254-601f-11e6-ae21-130cf67e71fe.html" target="_blank"><img class="img-fluid" src="../assets/img/cattle.jpg" data-bs-hover-animate="pulse"></a></div>
                        <div class="col">
                            <h3 class="name"><a href="http://www.calaverasenterprise.com/news/article_bdcaa254-601f-11e6-ae21-130cf67e71fe.html" target="_blank"><strong>Copperopolis-Raised Cowgirl Wins Benny Brown Mother Lode Award</strong><br></a></h3>
                            <p class="article-date"><i class="fa fa-clock-o"></i>Aug 11, 2016</p>
                            <p class="description">“It’s always fun to go out there, but it’s even more fun to win.”</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row projects" id="articles-calaveras-2">
                <div class="col-sm-6 item">
                    <div class="row">
                        <div class="col-md-12 col-lg-5"><a href="http://www.calaverasenterprise.com/news/article_e9e17a8c-5522-11e6-964a-5b76649949c6.html" target="_blank"><img class="img-fluid" src="../assets/img/fire.jpg" data-bs-hover-animate="pulse"></a></div>
                        <div class="col">
                            <h3 class="name"><a href="http://www.calaverasenterprise.com/news/article_e9e17a8c-5522-11e6-964a-5b76649949c6.html" target="_blank"><strong>Homeowner Suspects Arson in Stagecoach Fire</strong><br></a></h3>
                            <p class="article-date"><i class="fa fa-clock-o"></i>July 28, 2016</p>
                            <p class="description">Scott Bohanna lost nearly everything in July 12 blaze.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 item">
                    <div class="row">
                        <div class="col-md-12 col-lg-5"><a href="http://www.calaverasenterprise.com/news/article_5e1b683c-52c0-11e6-b9fb-4bf16fdf869a.html" target="_blank"><img class="img-fluid" src="../assets/img/prison.jpg" data-bs-hover-animate="pulse"></a></div>
                        <div class="col">
                            <h3 class="name"><a href="http://www.calaverasenterprise.com/news/article_5e1b683c-52c0-11e6-b9fb-4bf16fdf869a.html" target="_blank"><strong>Retired Prison Warden Revives Adult Literacy Program</strong><br></a></h3>
                            <p class="article-date"><i class="fa fa-clock-o"></i>July 25, 2016</p>
                            <p class="description">Phil Gutierrez returns to his teaching roots.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row projects" id="articles-calaveras-3">
                <div class="col-sm-6 item">
                    <div class="row">
                        <div class="col-md-12 col-lg-5"><a href="http://www.calaverasenterprise.com/health/article_001b982c-4499-11e6-966f-ebf67afa6fb0.html" target="_blank"><img class="img-fluid" src="../assets/img/shrimp.jpg" data-bs-hover-animate="pulse"></a></div>
                        <div class="col">
                            <h3 class="name"><a href="http://www.calaverasenterprise.com/health/article_001b982c-4499-11e6-966f-ebf67afa6fb0.html" target="_blank"><strong>Preserve the Integrity of Your Food in the Summer Heat</strong><br></a></h3>
                            <p class="article-date"><i class="fa fa-clock-o"></i>July 7, 2016</p>
                            <p class="description">Take steps to avoid foodborne illnesses.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 item">
                    <div class="row">
                        <div class="col-md-12 col-lg-5"><a href="http://www.calaverasenterprise.com/news/article_f16ec4e8-44a2-11e6-aaa7-370da6c45df4.html" target="_blank"><img class="img-fluid" src="../assets/img/library.jpeg" data-bs-hover-animate="pulse"></a></div>
                        <div class="col">
                            <h3 class="name"><a href="http://www.calaverasenterprise.com/news/article_f16ec4e8-44a2-11e6-aaa7-370da6c45df4.html" target="_blank"><strong>Calaveras County Libraries in New Hands</strong><br></a></h3>
                            <p class="article-date"><i class="fa fa-clock-o"></i>July 7, 2016</p>
                            <p class="description">Africa prepared Giddens for Mother Lode conditions.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row projects" id="articles-calaveras-4">
                <div class="col-sm-6 item">
                    <div class="row">
                        <div class="col-md-12 col-lg-5"><a href="http://www.calaverasenterprise.com/news/article_4578756a-449f-11e6-bea9-3ffcdee20af5.html" target="_blank"><img class="img-fluid" src="../assets/img/tech.jpg" data-bs-hover-animate="pulse"></a></div>
                        <div class="col">
                            <h3 class="name"><a href="http://www.calaverasenterprise.com/news/article_4578756a-449f-11e6-bea9-3ffcdee20af5.html" target="_blank"><strong>Angel's Camp Boy Wins National Tech Competition</strong><br></a></h3>
                            <p class="article-date"><i class="fa fa-clock-o"></i>July 7, 2016</p>
                            <p class="description">13-year-old Taben Randall develops his own app.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 item">
                    <div class="row">
                        <div class="col-md-12 col-lg-5"><a href="http://www.calaverasenterprise.com/news/article_4cb27b7a-3994-11e6-b504-0ff46bc62d07.html" target="_blank"><img class="img-fluid" src="../assets/img/cool.jpg" data-bs-hover-animate="pulse"></a></div>
                        <div class="col">
                            <h3 class="name"><a href="http://www.calaverasenterprise.com/news/article_4cb27b7a-3994-11e6-b504-0ff46bc62d07.html" target="_blank"><strong>County Cool Spots and How to Find Them</strong><br></a></h3>
                            <p class="article-date"><i class="fa fa-clock-o"></i>June 23, 2016</p>
                            <p class="description">Beat the heat in your own way.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="../assets/js/bs-animation.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twbs-pagination/1.4.2/jquery.twbsPagination.min.js"></script>
    <script src="https://www.solodev.com/assets/pagination/jquery.twbsPagination.js"></script>
    <script src="../assets/js/pagination.js"></script>
    <script src="../assets/js/Simple-Slider.js"></script>
</body>

</html>