<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>isabellacook.github.io</title>
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700">
    <link rel="stylesheet" href="../assets/css/article-list.css">
    <link rel="stylesheet" href="../assets/css/features-clean.css">
    <link rel="stylesheet" href="../assets/css/footer-basic.css">
    <link rel="stylesheet" href="../assets/css/Header-Blue-1.css">
    <link rel="stylesheet" href="../assets/css/header-blue.css">
    <link rel="stylesheet" href="../assets/css/highlight-blue.css">
    <link rel="stylesheet" href="../assets/css/highlight-clean.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
    <link rel="stylesheet" href="../assets/css/Lightbox-Gallery.css">
    <link rel="stylesheet" href="../assets/css/navigation-clean.css">
    <link rel="stylesheet" href="../assets/css/page-content.css">
    <link rel="stylesheet" href="../assets/css/projects-clean.css">
    <link rel="stylesheet" href="../assets/css/projects-horizontal.css">
    <link rel="stylesheet" href="../assets/css/Simple-Slider.css">
    <link rel="stylesheet" href="../assets/css/styles.css">
    <link rel="stylesheet" href="../assets/css/timeline.css">
</head>

<body>
    <div class="projects-horizontal">
        <div class="container">
            <div class="row projects" id="articles-fishrap-1">
                <div class="col-sm-6 item">
                    <div class="row">
                        <div class="col-md-12 col-lg-5"><a href="http://v.calameo.com/?bkcode=0007407273f9053ee4a8f&amp;page=4" target="_blank"><img class="img-fluid" src="../assets/img/cereal.jpg" data-bs-hover-animate="pulse"></a></div>
                        <div class="col">
                            <h3 class="name"><a href="http://v.calameo.com/?bkcode=0007407273f9053ee4a8f&amp;page=4" target="_blank"><strong>Amateur Fortune Teller Foresees Doom in Dining Hall Cereal</strong><br></a></h3>
                            <p class="description">Madame de Fortuna foresaw the doom of herself and her entire dining table.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 item">
                    <div class="row">
                        <div class="col-md-12 col-lg-5"><a href="http://v.calameo.com/?bkcode=000740727eaa28fe2bb23&amp;page=4" target="_blank"><img class="img-fluid" src="../assets/img/man.jpg" data-bs-hover-animate="pulse"></a></div>
                        <div class="col">
                            <h3 class="name"><a href="http://v.calameo.com/?bkcode=000740727eaa28fe2bb23&amp;page=4" target="_blank"><strong>Area Man Can't Stop Rhyming</strong><br></a></h3>
                            <p class="description">Gary Jeffries has been diagnosed with acute Rhymiosis.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row projects" id="articles-fishrap-2">
                <div class="col-sm-6 item">
                    <div class="row">
                        <div class="col-md-12 col-lg-5"><a href="http://v.calameo.com/?bkcode=000740727ae4883ac5afb&amp;page=4" target="_blank"><img class="img-fluid" src="../assets/img/elevator.jpg" data-bs-hover-animate="pulse"></a></div>
                        <div class="col">
                            <h3 class="name"><a href="http://v.calameo.com/?bkcode=000740727ae4883ac5afb&amp;page=4" target="_blank"><strong>Elevator to Recite Reaffirming Quotes During Finals</strong><br></a></h3>
                            <p class="description">The board of governors at UC Santa Cruz attempt to raise moral among students.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 item">
                    <div class="row">
                        <div class="col-md-12 col-lg-5"><a href="http://v.calameo.com/?bkcode=000740727525136fd4116&amp;page=1" target="_blank"><img class="img-fluid" src="../assets/img/bribe.jpg" data-bs-hover-animate="pulse"></a></div>
                        <div class="col">
                            <h3 class="name"><a href="http://v.calameo.com/?bkcode=000740727525136fd4116&amp;page=1" target="_blank"><strong>Housing Officials Now Accepting Bribes</strong><br></a></h3>
                            <p class="description">Those who succumbed to the new system report a 126% increase in happiness.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row projects" id="articles-fishrap-3">
                <div class="col-sm-6 item">
                    <div class="row">
                        <div class="col-md-12 col-lg-5"><a href="http://v.calameo.com/?bkcode=0007407270094c17d2b7b&amp;page=3" target="_blank"><img class="img-fluid" src="../assets/img/dancer.jpg" data-bs-hover-animate="pulse"></a></div>
                        <div class="col">
                            <h3 class="name"><a href="http://v.calameo.com/?bkcode=0007407270094c17d2b7b&amp;page=3" target="_blank"><strong>Inflatable Wind Dancer Not Really Feeling It</strong><br></a></h3>
                            <p class="description">After a lengthy 12 years, wind dancer is turning in for an early retirement.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 item">
                    <div class="row">
                        <div class="col-md-12 col-lg-5"><a href="http://v.calameo.com/?bkcode=00074072771e23875a0da&amp;page=3" target="_blank"><img class="img-fluid" src="../assets/img/daisies.jpg" data-bs-hover-animate="pulse"></a></div>
                        <div class="col">
                            <h3 class="name"><a href="http://v.calameo.com/?bkcode=00074072771e23875a0da&amp;page=3" target="_blank"><strong>Petal-Plucker Convinced Boyfriend 'Loves Her Not'</strong><br></a></h3>
                            <p class="description">Susie Yates recently learned her boyfriend isn't in love with her anymore.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row projects" id="articles-fishrap-4">
                <div class="col-sm-6 item">
                    <div class="row">
                        <div class="col-md-12 col-lg-5"><a href="http://v.calameo.com/?bkcode=000740727181dfcbc56b6&amp;page=1" target="_blank"><img class="img-fluid" src="../assets/img/scale.jpg" data-bs-hover-animate="pulse"></a></div>
                        <div class="col">
                            <h3 class="name"><a href="http://v.calameo.com/?bkcode=000740727181dfcbc56b6&amp;page=1" target="_blank"><strong>Pound of Flesh Taken from Each Graduating Senior</strong><br></a></h3>
                            <p class="description">A new rule requires a literal pound of flesh before they can take their diploma.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 item">
                    <div class="row">
                        <div class="col-md-12 col-lg-5"><a href="http://v.calameo.com/?bkcode=0007407272e157e67fa53&amp;page=4" target="_blank"><img class="img-fluid" src="../assets/img/crayons.jpg" data-bs-hover-animate="pulse"></a></div>
                        <div class="col">
                            <h3 class="name"><a href="http://v.calameo.com/?bkcode=0007407272e157e67fa53&amp;page=4" target="_blank"><strong>UCSC Literacy Rates Rapidly Getting Less Good</strong><br></a></h3>
                            <p class="description">In a recent study, literacy rates have been subject to a rapid decline.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><a href="https://angel.co/isabella-cook" target="_blank" id="angellist-icon"><i class="fa fa-angellist"></i></a>
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="../assets/js/bs-animation.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twbs-pagination/1.4.2/jquery.twbsPagination.min.js"></script>
    <script src="https://www.solodev.com/assets/pagination/jquery.twbsPagination.js"></script>
    <script src="../assets/js/pagination.js"></script>
    <script src="../assets/js/Simple-Slider.js"></script>
</body>

</html>