<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>isabellacook.github.io</title>
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700">
    <link rel="stylesheet" href="../assets/css/article-list.css">
    <link rel="stylesheet" href="../assets/css/features-clean.css">
    <link rel="stylesheet" href="../assets/css/footer-basic.css">
    <link rel="stylesheet" href="../assets/css/Header-Blue-1.css">
    <link rel="stylesheet" href="../assets/css/header-blue.css">
    <link rel="stylesheet" href="../assets/css/highlight-blue.css">
    <link rel="stylesheet" href="../assets/css/highlight-clean.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
    <link rel="stylesheet" href="../assets/css/Lightbox-Gallery.css">
    <link rel="stylesheet" href="../assets/css/navigation-clean.css">
    <link rel="stylesheet" href="../assets/css/page-content.css">
    <link rel="stylesheet" href="../assets/css/projects-clean.css">
    <link rel="stylesheet" href="../assets/css/projects-horizontal.css">
    <link rel="stylesheet" href="../assets/css/Simple-Slider.css">
    <link rel="stylesheet" href="../assets/css/styles.css">
    <link rel="stylesheet" href="../assets/css/timeline.css">
</head>

<body>
    <div class="projects-clean-light" style="/*padding-top: 0px;*//*padding-bottom: 0px;*/">
        <div class="container">
            <div class="row">
                <div class="col">
                    <ul class="timeline" style="margin-bottom: 0px;">
                        <li data-aos="slide-right" data-aos-once="true">
                            <div class="timeline-badge" style="background-color: rgb(115,115,115);"><i class="fa fa-hospital-o"></i></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Born</h4>
                                    <p><small>October 1995</small></p>
                                </div>
                                <div class="timeline-body">
                                    <p>Sociosqu massa consectetur mi lacus ipsum leo torquent donec commodo.</p>
                                </div>
                            </div>
                        </li>
                        <li data-aos="slide-left" data-aos-once="true" class="timeline-inverted">
                            <div class="timeline-badge"><i class="fa fa-book"></i></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Bookworm</h4>
                                    <p><small>2007</small></p>
                                </div>
                                <div class="timeline-body">
                                    <p>Tristique convallis scelerisque aliquam netus non ornare viverra phasellus hac.</p>
                                </div>
                            </div>
                        </li>
                        <li data-aos="slide-right" data-aos-once="true">
                            <div class="timeline-badge"><img src="../assets/img/icons/books.png"></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Library Volunteer</h4>
                                    <p><small>2011</small></p>
                                </div>
                                <div class="timeline-body">
                                    <p>Condimentum convallis tincidunt; iaculis risus amet amet in congue senectus.</p>
                                </div>
                            </div>
                        </li>
                        <li data-aos="slide-left" data-aos-once="true" class="timeline-inverted">
                            <div class="timeline-badge"><i class="fa fa-graduation-cap"></i></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Graduation</h4>
                                    <p><small>2013</small></p>
                                </div>
                                <div class="timeline-body">
                                    <p>Tristique convallis scelerisque aliquam netus non ornare viverra phasellus hac.</p>
                                </div>
                            </div>
                        </li>
                        <li data-aos="slide-right" data-aos-once="true">
                            <div class="timeline-badge"><i class="fa fa-institution"></i></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>College</h4>
                                    <p><small>2013</small></p>
                                </div>
                                <div class="timeline-body">
                                    <p>Condimentum convallis tincidunt; iaculis risus amet amet in congue senectus.</p>
                                </div>
                            </div>
                        </li>
                        <li data-aos="slide-left" data-aos-once="true" class="timeline-inverted">
                            <div class="timeline-badge"><img src="../assets/img/icons/fish.png"></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Fish Rap Live! I</h4>
                                    <p><small>2014</small></p>
                                </div>
                                <div class="timeline-body">
                                    <p>Tristique convallis scelerisque aliquam netus non ornare viverra phasellus hac.</p>
                                </div>
                            </div>
                        </li>
                        <li data-aos="slide-right" data-aos-once="true">
                            <div class="timeline-badge"><i class="fa fa-newspaper-o"></i></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Calaveras Enterprise</h4>
                                    <p><small>2015</small></p>
                                </div>
                                <div class="timeline-body">
                                    <p>Condimentum convallis tincidunt; iaculis risus amet amet in congue senectus.</p>
                                </div>
                            </div>
                        </li>
                        <li data-aos="slide-left" data-aos-once="true" class="timeline-inverted">
                            <div class="timeline-badge"><img src="../assets/img/icons/fishbones.png"></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Fish Rap Live! II</h4>
                                    <p><small>2016</small></p>
                                </div>
                                <div class="timeline-body">
                                    <p>Tristique convallis scelerisque aliquam netus non ornare viverra phasellus hac.</p>
                                </div>
                            </div>
                        </li>
                        <li data-aos="slide-right" data-aos-once="true">
                            <div class="timeline-badge"><img src="../assets/img/icons/cable-car.png"></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>The Bold Italic</h4>
                                    <p><small>2017</small></p>
                                </div>
                                <div class="timeline-body">
                                    <p>Condimentum convallis tincidunt; iaculis risus amet amet in congue senectus.</p>
                                </div>
                            </div>
                        </li>
                        <li data-aos="slide-left" data-aos-once="true" class="timeline-inverted">
                            <div class="timeline-badge"><i class="fa fa-graduation-cap"></i></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>College Graduation</h4>
                                    <p><small>2017</small></p>
                                </div>
                                <div class="timeline-body">
                                    <p>Tristique convallis scelerisque aliquam netus non ornare viverra phasellus hac.</p>
                                </div>
                            </div>
                        </li>
                        <li data-aos="slide-right" data-aos-once="true">
                            <div class="timeline-badge"><img src="../assets/img/icons/maple-leaf.png"></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Leafbuyer Technologies</h4>
                                    <p><small>2018</small></p>
                                </div>
                                <div class="timeline-body">
                                    <p>Condimentum convallis tincidunt; iaculis risus amet amet in congue senectus.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="../assets/js/bs-animation.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twbs-pagination/1.4.2/jquery.twbsPagination.min.js"></script>
    <script src="https://www.solodev.com/assets/pagination/jquery.twbsPagination.js"></script>
    <script src="../assets/js/pagination.js"></script>
    <script src="../assets/js/Simple-Slider.js"></script>
</body>

</html>