<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>isabellacook.github.io</title>
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700">
    <link rel="stylesheet" href="../assets/css/article-list.css">
    <link rel="stylesheet" href="../assets/css/features-clean.css">
    <link rel="stylesheet" href="../assets/css/footer-basic.css">
    <link rel="stylesheet" href="../assets/css/Header-Blue-1.css">
    <link rel="stylesheet" href="../assets/css/header-blue.css">
    <link rel="stylesheet" href="../assets/css/highlight-blue.css">
    <link rel="stylesheet" href="../assets/css/highlight-clean.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
    <link rel="stylesheet" href="../assets/css/Lightbox-Gallery.css">
    <link rel="stylesheet" href="../assets/css/navigation-clean.css">
    <link rel="stylesheet" href="../assets/css/page-content.css">
    <link rel="stylesheet" href="../assets/css/projects-clean.css">
    <link rel="stylesheet" href="../assets/css/projects-horizontal.css">
    <link rel="stylesheet" href="../assets/css/Simple-Slider.css">
    <link rel="stylesheet" href="../assets/css/styles.css">
    <link rel="stylesheet" href="../assets/css/timeline.css">
</head>

<body>
    <div class="projects-horizontal">
        <div class="container">
            <div class="row projects" id="articles-leafbuyer-1">
                <div class="col-sm-6 item">
                    <div class="row">
                        <div class="col-md-12 col-lg-5"><a href="https://www.leafbuyer.com/blog/does-cbd-get-you-high" target="_blank"><img class="img-fluid" src="https://www.leafbuyer.com/blogs/content/uploads/2018/11/small-cbd-oil-tincture-with-cannabis-leaves.jpg"></a></div>
                        <div
                            class="col article-body">
                            <div><span class="badge badge-primary article-badge">Products</span></div>
                            <h3 class="name"><a href="https://www.leafbuyer.com/blog/does-cbd-get-you-high" target="_blank">Does CBD Get You High?<br></a></h3>
                            <p class="article-date"><i class="fa fa-clock-o"></i>April 16, 2019</p>
                            <p class="description">Have you ever wished you could get all the best benefits of weed without having to experience the high...</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 item">
                <div class="row">
                    <div class="col-md-12 col-lg-5"><a href="https://www.leafbuyer.com/blog/how-to-build-a-marijuana-grow-box" target="_blank"><img class="img-fluid" src="https://www.leafbuyer.com/blogs/content/uploads/2016/10/marijuana-grow-box.jpg"></a></div>
                    <div class="col article-body">
                        <div><span class="badge badge-primary article-badge">Guide</span><span class="badge badge-primary article-badge">Growing</span></div>
                        <h3 class="name"><a href="https://www.leafbuyer.com/blog/how-to-build-a-marijuana-grow-box" target="_blank">How to Build a Marijuana Grow Box At Home<br></a></h3>
                        <p class="article-date"><i class="fa fa-clock-o"></i>March 20, 2019</p>
                        <p class="description">Have you ever wanted to grow weed at home but didn't have enough room or privacy...</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row projects" id="articles-leafbuyer-2">
            <div class="col-sm-6 item">
                <div class="row">
                    <div class="col-md-12 col-lg-5"><a href="https://www.leafbuyer.com/blog/cannabis-st-patricks-day" target="_blank"><img class="img-fluid" src="https://www.leafbuyer.com/blogs/content/uploads/2019/03/man-smoking-.jpg"></a></div>
                    <div class="col article-body"><span class="badge badge-primary article-badge">Culture</span>
                        <h3 class="name"><a href="https://www.leafbuyer.com/blog/cannabis-st-patricks-day" target="_blank">5 Activities for Celebrating a Cannabis St. Patrick's Day<br></a></h3>
                        <p class="article-date"><i class="fa fa-clock-o"></i>March 15, 2019</p>
                        <p class="description">St. Patrick's Day is a jolly holiday unlike any other; you wear green, get drunk, and pinch people...</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 item">
                <div class="row">
                    <div class="col-md-12 col-lg-5"><a href="https://www.leafbuyer.com/blog/strains-for-a-cannabis-filled-st-patricks-day" target="_blank"><img class="img-fluid" src="https://www.leafbuyer.com/blogs/content/uploads/2019/02/lucky-irish-with-clover.jpg" data-bs-hover-animate="pulse"></a></div>
                    <div
                        class="col article-body">
                        <div><span class="badge badge-primary article-badge">Culture</span><span class="badge badge-primary article-badge">Strains</span></div>
                        <h3 class="name"><a href="https://www.leafbuyer.com/blog/strains-for-a-cannabis-filled-st-patricks-day" target="_blank">Strains for a Cannabis-Filled St. Patrick’s Day<br></a></h3>
                        <p class="article-date"><i class="fa fa-clock-o"></i>March 15, 2019</p>
                        <p class="description">You don't need to rely on the luck of the Irish to enjoy a stellar St. Patrick's Day...</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row projects" id="articles-leafbuyer-3">
        <div class="col-sm-6 item">
            <div class="row">
                <div class="col-md-12 col-lg-5"><a href="https://www.leafbuyer.com/blog/caviar-vs-moon-rocks" target="_blank"><img class="img-fluid" src="https://www.leafbuyer.com/blogs/content/uploads/2019/03/ball-of-kief.jpg" data-bs-hover-animate="pulse"></a></div>
                <div class="col article-body">
                    <div><span class="badge badge-primary article-badge">Products</span><span class="badge badge-primary article-badge">Education</span></div>
                    <h3 class="name"><a href="https://www.leafbuyer.com/blog/caviar-vs-moon-rocks" target="_blank">Is There a Difference Between Marijuana Caviar and Moon Rocks?<br></a></h3>
                    <p class="article-date"><i class="fa fa-clock-o"></i>March 11, 2019</p>
                    <p class="description">Do you like being high? Is regular weed just not enough to satisfy that THC craving...</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 item">
            <div class="row">
                <div class="col-md-12 col-lg-5"><a href="https://www.leafbuyer.com/blog/starting-marijuana-business" target="_blank"><img class="img-fluid" src="https://www.leafbuyer.com/blogs/content/uploads/2019/03/nugs-on-stacks-of-money.jpg" data-bs-hover-animate="pulse"></a></div>
                <div
                    class="col article-body"><span class="badge badge-primary article-badge">Business</span>
                    <h3 class="name"><a href="https://www.leafbuyer.com/blog/starting-marijuana-business" target="_blank">Things to Consider When Starting a Marijuana Business<br></a></h3>
                    <p class="article-date"><i class="fa fa-clock-o"></i>March 4, 2019</p>
                    <p class="description">If ever there was a time for getting into the cannabis industry, now would definitely be it...</p>
            </div>
        </div>
    </div>
    </div>
    <div class="row projects" id="articles-leafbuyer-4">
        <div class="col-sm-6 item">
            <div class="row">
                <div class="col-md-12 col-lg-5"><a href="https://www.leafbuyer.com/blog/lightshade-corporate-social-responsiblity" target="_blank"><img class="img-fluid" src="https://www.leafbuyer.com/blogs/content/uploads/2018/11/lightshade-denver-urban-gardens-resized.jpg" data-bs-hover-animate="pulse"></a></div>
                <div
                    class="col article-body"><span class="badge badge-primary article-badge">Business</span>
                    <h3 class="name"><a href="https://www.leafbuyer.com/blog/lightshade-corporate-social-responsiblity" target="_blank">Lightshade’s Plans for Social Responsibility in 2019<br></a></h3>
                    <p class="article-date"><i class="fa fa-clock-o"></i>February 28, 2019</p>
                    <p class="description">To all those Colorado weed lovers out there looking for the premier dispensary in the area...</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 item">
        <div class="row">
            <div class="col-md-12 col-lg-5"><a href="https://www.leafbuyer.com/blog/drug-education-in-school" target="_blank"><img class="img-fluid" src="https://www.leafbuyer.com/blogs/content/uploads/2019/02/focused-nug-with-joint-and-lighter-in-background.jpg" data-bs-hover-animate="pulse"></a></div>
            <div
                class="col article-body">
                <div><span class="badge badge-primary article-badge">Culture</span><span class="badge badge-primary article-badge">Education</span></div>
                <h3 class="name"><a href="https://www.leafbuyer.com/blog/drug-education-in-school" target="_blank">Drug Education in School Has a Long Way to Go<br></a></h3>
                <p class="article-date"><i class="fa fa-clock-o"></i>February 27, 2019</p>
                <p class="description">Growing up from a child to a fully-formed and functioning adult can be confusing...</p>
        </div>
    </div>
    </div>
    </div>
    <div class="row projects" id="articles-leafbuyer-5">
        <div class="col-sm-6 item">
            <div class="row">
                <div class="col-md-12 col-lg-5"><a href="https://www.leafbuyer.com/blog/cannabis-sleep" target="_blank"><img class="img-fluid" src="https://www.leafbuyer.com/blogs/content/uploads/2019/02/holding-a-joint-with-joints-in-the-background.jpg" data-bs-hover-animate="pulse"></a></div>
                <div
                    class="col article-body"><span class="badge badge-primary article-badge">Products</span>
                    <h3 class="name"><a href="https://www.leafbuyer.com/blog/cannabis-sleep" target="_blank">Cannabis and Sleep: Tips for Finding Balance as a Regular Smoker<br></a></h3>
                    <p class="article-date"><i class="fa fa-clock-o"></i>February 26, 2019</p>
                    <p class="description">Balance can be struck in anything: day and night, light and dark, sativa and indica, high and sober...</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 item">
        <div class="row">
            <div class="col-md-12 col-lg-5"><a href="https://www.leafbuyer.com/blog/costs-home-growing-marijuana" target="_blank"><img class="img-fluid" src="https://www.leafbuyer.com/blogs/content/uploads/2019/02/man-holding-a-cannabis-clone.jpg" data-bs-hover-animate="pulse"></a></div>
            <div
                class="col article-body"><span class="badge badge-primary article-badge">Growing</span>
                <h3 class="name"><a href="https://www.leafbuyer.com/blog/costs-home-growing-marijuana" target="_blank">A Breakdown of the Costs of Home Growing Marijuana<br></a></h3>
                <p class="article-date"><i class="fa fa-clock-o"></i>February 19, 2019</p>
                <p class="description">Let's face it – weed is expensive, especially for heavy cannabis consumers. A joint here and a puff there...</p>
        </div>
    </div>
    </div>
    </div>
    <div class="row projects" id="articles-leafbuyer-6">
        <div class="col-sm-6 item">
            <div class="row">
                <div class="col-md-12 col-lg-5"><a href="https://www.leafbuyer.com/blog/how-to-roll-rose-blunt" target="_blank"><img class="img-fluid" src="https://www.leafbuyer.com/blogs/content/uploads/2019/01/strainof-marijuana-flower-.jpg" data-bs-hover-animate="pulse"></a></div>
                <div
                    class="col article-body"><span class="badge badge-primary article-badge">Guides</span>
                    <h3 class="name"><a href="https://www.leafbuyer.com/blog/how-to-roll-rose-blunt" target="_blank">How to Roll a Rose Blunt<br></a></h3>
                    <p class="article-date"><i class="fa fa-clock-o"></i>February 14, 2019</p>
                    <p class="description">Couples who smoke together stay together – and nothing screams stoner love quite like a joint rolled...</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 item">
        <div class="row">
            <div class="col-md-12 col-lg-5"><a href="https://www.leafbuyer.com/blog/can-you-get-marijuana-juuls" target="_blank"><img class="img-fluid" src="https://www.leafbuyer.com/blogs/content/uploads/2019/02/juuls-with-pods.jpg" data-bs-hover-animate="pulse"></a></div>
            <div class="col article-body"><span class="badge badge-primary article-badge">Products</span>
                <h3 class="name"><a href="https://www.leafbuyer.com/blog/can-you-get-marijuana-juuls" target="_blank">Can You Get Marijuana Juuls?<br></a></h3>
                <p class="article-date"><i class="fa fa-clock-o"></i>February 12, 2019</p>
                <p class="description">Unless you live under a rock, you've probably seen just how popular vaping has become...</p>
            </div>
        </div>
    </div>
    </div>
    <div class="row projects" id="articles-leafbuyer-7">
        <div class="col-sm-6 item">
            <div class="row">
                <div class="col-md-12 col-lg-5"><a href="https://www.leafbuyer.com/blog/marijuana-pesticides-list-washington" target="_blank"><img class="img-fluid" src="https://www.leafbuyer.com/blogs/content/uploads/2018/12/large-cannabis-grow-operation.jpg" data-bs-hover-animate="pulse"></a></div>
                <div
                    class="col article-body"><span class="badge badge-primary article-badge">Growing</span>
                    <h3 class="name"><a href="https://www.leafbuyer.com/blog/marijuana-pesticides-list-washington" target="_blank">How Does Washington Decide Which Pesticides Are Safe Post-Harvest?<br></a></h3>
                    <p class="article-date"><i class="fa fa-clock-o"></i>February 5, 2019</p>
                    <p class="description">Washington State just released a new marijuana pesticides list...</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 item">
        <div class="row">
            <div class="col-md-12 col-lg-5"><a href="https://www.leafbuyer.com/blog/420-celebration" target="_blank"><img class="img-fluid" src="https://www.leafbuyer.com/blogs/content/uploads/2019/02/420-celebration-in-canada.jpg" data-bs-hover-animate="pulse"></a></div>
            <div class="col article-body"><span class="badge badge-primary article-badge">Culture</span>
                <h3 class="name"><a href="https://www.leafbuyer.com/blog/420-celebration" target="_blank">Where Are the Best 420 Celebrations?<br></a></h3>
                <p class="article-date"><i class="fa fa-clock-o"></i>February 3, 2019</p>
                <p class="description">Some holidays are better if you're in the right place at the right time...</p>
            </div>
        </div>
    </div>
    </div>
    <div class="row projects" id="articles-leafbuyer-8">
        <div class="col-sm-6 item">
            <div class="row">
                <div class="col-md-12 col-lg-5"><a href="https://www.leafbuyer.com/blog/marijuana-snacks-big-game" target="_blank"><img class="img-fluid" src="https://www.leafbuyer.com/blogs/content/uploads/2019/01/super-bowl-snack-spread.jpg" data-bs-hover-animate="pulse"></a></div>
                <div
                    class="col article-body"><span class="badge badge-primary article-badge">Recipes</span>
                    <h3 class="name"><a href="https://www.leafbuyer.com/blog/marijuana-snacks-big-game" target="_blank">Marijuana Edible Snacks for the Big Game<br></a></h3>
                    <p class="article-date"><i class="fa fa-clock-o"></i>January 31, 2019</p>
                    <p class="description">Let's face it, snacks for the Big Game are the ultimate munchies...</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 item">
        <div class="row">
            <div class="col-md-12 col-lg-5"><a href="https://www.leafbuyer.com/blog/cannabis-leaves-turning-yellow" target="_blank"><img class="img-fluid" src="https://www.leafbuyer.com/blogs/content/uploads/2019/01/above-shot-of-cannabis-plant-in-pot.jpg" data-bs-hover-animate="pulse"></a></div>
            <div
                class="col article-body"><span class="badge badge-primary article-badge">Growing</span>
                <h3 class="name"><a href="https://www.leafbuyer.com/blog/cannabis-leaves-turning-yellow" target="_blank">Reasons Your Cannabis Leaves Might Be Turning Yellow<br></a></h3>
                <p class="article-date"><i class="fa fa-clock-o"></i>January 24, 2019</p>
                <p class="description">You don't need to be an expert on growing weed to know that yellow leaves are a bad sign...</p>
        </div>
    </div>
    </div>
    </div>
    <div class="row projects" id="articles-leafbuyer-9">
        <div class="col-sm-6 item">
            <div class="row">
                <div class="col-md-12 col-lg-5"><a href="https://www.leafbuyer.com/blog/fake-weed" target="_blank"><img class="img-fluid" src="https://www.leafbuyer.com/blogs/content/uploads/2019/01/studying-synthetic-weed-1.jpg" data-bs-hover-animate="pulse"></a></div>
                <div class="col article-body"><span class="badge badge-primary article-badge">Education</span>
                    <h3 class="name"><a href="https://www.leafbuyer.com/blog/fake-weed" target="_blank">Fake Weed vs. Real Weed<br></a></h3>
                    <p class="article-date"><i class="fa fa-clock-o"></i>January 20, 2019</p>
                    <p class="description">Fake weed; you've probably at least heard of it but hopefully haven't tried it out...</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 item">
            <div class="row">
                <div class="col-md-12 col-lg-5"><a href="https://www.leafbuyer.com/blogs/content/uploads/2019/01/cooking-with-cannabis.jpg" target="_blank"><img class="img-fluid" src="https://www.leafbuyer.com/blogs/content/uploads/2019/01/cooking-with-cannabis.jpg" data-bs-hover-animate="pulse"></a></div>
                <div
                    class="col article-body"><span class="badge badge-primary article-badge">Culture</span>
                    <h3 class="name"><a href="https://www.leafbuyer.com/blog/avoid-smell-cooking-edibles" target="_blank">Tips to Help You Avoid the Smell of Cooking Edibles<br></a></h3>
                    <p class="article-date"><i class="fa fa-clock-o"></i>January 18, 2019</p>
                    <p class="description">Making your own homemade edibles is a right of passage for just about every stoner...</p>
            </div>
        </div>
    </div>
    </div>
    <div class="row projects" id="articles-leafbuyer-10">
        <div class="col-sm-6 item">
            <div class="row">
                <div class="col-md-12 col-lg-5"><a href="https://www.leafbuyer.com/blog/best-marijuana-edibles-northern-california" target="_blank"><img class="img-fluid" src="https://www.leafbuyer.com/blogs/content/uploads/2019/01/san-francisco-skyline-with-bridge-.jpg" data-bs-hover-animate="pulse"></a></div>
                <div
                    class="col article-body"><span class="badge badge-primary article-badge">Products</span>
                    <h3 class="name"><a href="https://www.leafbuyer.com/blog/best-marijuana-edibles-northern-california" target="_blank">The Best Edibles in Northern California<br></a></h3>
                    <p class="article-date"><i class="fa fa-clock-o"></i>January 12, 2019</p>
                    <p class="description">Northern California is full of unique, delicious, and potent marijuana...</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 item">
        <div class="row">
            <div class="col-md-12 col-lg-5"><a href="https://www.leafbuyer.com/blog/parts-cannabis-plant" target="_blank"><img class="img-fluid" src="https://www.leafbuyer.com/blogs/content/uploads/2018/12/holding-cannabis-plan.jpg" data-bs-hover-animate="pulse"></a></div>
            <div class="col article-body"><span class="badge badge-primary article-badge">Growing</span>
                <h3 class="name"><a href="https://www.leafbuyer.com/blog/parts-cannabis-plant" target="_blank">Parts of the Cannabis Plant and What They Do<br></a></h3>
                <p class="article-date"><i class="fa fa-clock-o"></i>December 23, 2018</p>
                <p class="description">History shows time and time again that cannabis is as versatile as it is useful...</p>
            </div>
        </div>
    </div>
    </div>
    <div class="row projects" id="articles-leafbuyer-11">
        <div class="col-sm-6 item">
            <div class="row">
                <div class="col-md-12 col-lg-5"><a href="https://www.leafbuyer.com/blog/what-is-420" target="_blank"><img class="img-fluid" src="https://www.leafbuyer.com/blogs/content/uploads/2018/12/celebrating-420-with-birthday-candles.jpg" data-bs-hover-animate="pulse"></a></div>
                <div
                    class="col article-body"><span class="badge badge-primary article-badge">Culture</span>
                    <h3 class="name"><a href="https://www.leafbuyer.com/blog/what-is-420" target="_blank">The Evolution of 420<br></a></h3>
                    <p class="article-date"><i class="fa fa-clock-o"></i>December 17, 2018</p>
                    <p class="description">Marijuana is gaining traction fast with recent strides...</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 item">
        <div class="row">
            <div class="col-md-12 col-lg-5"><a href="https://www.leafbuyer.com/blog/pre-rolled-joints" target="_blank"><img class="img-fluid" src="https://www.leafbuyer.com/blogs/content/uploads/2018/12/pile-of-pre-rolled-joints.jpg" data-bs-hover-animate="pulse"></a></div>
            <div class="col article-body"><span class="badge badge-primary article-badge">Products</span>
                <h3 class="name"><a href="https://www.leafbuyer.com/blog/pre-rolled-joints" target="_blank">Are Pre-Rolled Joints Worth the Cost?<br></a></h3>
                <p class="article-date"><i class="fa fa-clock-o"></i>December 14, 2018</p>
                <p class="description">Have you ever wished you had a joint, but didn't want to roll one...</p>
            </div>
        </div>
    </div>
    </div>
    <div class="row projects" id="articles-leafbuyer-12">
        <div class="col-sm-6 item">
            <div class="row">
                <div class="col-md-12 col-lg-5"><a href="https://www.leafbuyer.com/blog/weed-strain-effects" target="_blank"><img class="img-fluid" src="https://www.leafbuyer.com/blogs/content/uploads/2018/12/shutterstock_522286684-2.jpg" data-bs-hover-animate="pulse"></a></div>
                <div
                    class="col article-body"><span class="badge badge-primary article-badge">Strains</span>
                    <h3 class="name"><a href="https://www.leafbuyer.com/blog/weed-strain-effects" target="_blank">Breaking Down Different Strains of Weed and Their Effects<br></a></h3>
                    <p class="article-date"><i class="fa fa-clock-o"></i>December 13, 2018</p>
                    <p class="description">When you're new to cannabis, all the different strains of weed and their effects can be confusing...</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 item">
        <div class="row">
            <div class="col-md-12 col-lg-5"><a href="https://www.leafbuyer.com/blog/smoke-weed-first-time" target="_blank"><img class="img-fluid" src="https://www.leafbuyer.com/blogs/content/uploads/2018/12/joint-flower-and-grinder.jpg" data-bs-hover-animate="pulse"></a></div>
            <div class="col article-body"><span class="badge badge-primary article-badge">Guides</span>
                <h3 class="name"><a href="https://www.leafbuyer.com/blog/smoke-weed-first-time" target="_blank">Here’s How to Make the Best of Your First Time Smoking Weed<br></a></h3>
                <p class="article-date"><i class="fa fa-clock-o"></i>December 6, 2018</p>
                <p class="description">So, it’s your first time smoking weed but don't know where to start...</p>
            </div>
        </div>
    </div>
    </div>
    <div class="row projects" id="articles-leafbuyer-13">
        <div class="col-sm-6 item">
            <div class="row">
                <div class="col-md-12 col-lg-5"><a href="https://www.leafbuyer.com/blog/cannabis-conversation" target="_blank"><img class="img-fluid" src="https://www.leafbuyer.com/blogs/content/uploads/2018/12/holiday-table-set-for-dinner.jpg" data-bs-hover-animate="pulse"></a></div>
                <div
                    class="col article-body"><span class="badge badge-primary article-badge">Culture</span>
                    <h3 class="name"><a href="https://www.leafbuyer.com/blog/cannabis-conversation" target="_blank">How to Handle Cannabis Conversations Around the Holiday Table<br></a></h3>
                    <p class="article-date"><i class="fa fa-clock-o"></i>December 5, 2018</p>
                    <p class="description">The holiday season is well underway and with it comes the promise of many family get-togethers...</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 item">
        <div class="row">
            <div class="col-md-12 col-lg-5"><a href="https://www.leafbuyer.com/blog/cannabis-infused-hot-chocolate" target="_blank"><img class="img-fluid" src="https://www.leafbuyer.com/blogs/content/uploads/2018/12/cannabis-hot-chocolate-.jpg" data-bs-hover-animate="pulse"></a></div>
            <div
                class="col article-body"><span class="badge badge-primary article-badge">Recipes</span>
                <h3 class="name"><a href="https://www.leafbuyer.com/blog/cannabis-infused-hot-chocolate" target="_blank">The Perfect Winter Cannabis-Infused Hot Chocolate Recipe<br></a></h3>
                <p class="article-date"><i class="fa fa-clock-o"></i>December 4, 2018</p>
                <p class="description">The days are getting shorter, the nights are getting longer...</p>
        </div>
    </div>
    </div>
    </div>
    <div class="row projects" id="articles-leafbuyer-14">
        <div class="col-sm-6 item">
            <div class="row">
                <div class="col-md-12 col-lg-5"><a href="https://www.leafbuyer.com/blog/how-trim-weed" target="_blank"><img class="img-fluid" src="https://www.leafbuyer.com/blogs/content/uploads/2018/11/hands-trimming-weed-with-weed-trimming-scissors.jpg" data-bs-hover-animate="pulse"></a></div>
                <div
                    class="col article-body">
                    <div><span class="badge badge-primary article-badge">Growing</span><span class="badge badge-primary article-badge">Guide</span></div>
                    <h3 class="name"><a href="https://www.leafbuyer.com/blog/how-trim-weed" target="_blank">A Simple Guide on How to Trim Weed the Right Way<br></a></h3>
                    <p class="article-date"><i class="fa fa-clock-o"></i>December 1, 2018</p>
                    <p class="description">Whether you're growing at home, looking to pick up a new skill, or you're just curious...</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 item">
        <div class="row">
            <div class="col-md-12 col-lg-5"><a href="https://www.leafbuyer.com/blog/cannabis-new-years-resolutions" target="_blank"><img class="img-fluid" src="https://www.leafbuyer.com/blogs/content/uploads/2018/11/notebook-and-pen-with-spots-to-write-new-years-resolutions.jpg" data-bs-hover-animate="pulse"></a></div>
            <div
                class="col article-body"><span class="badge badge-primary article-badge">Culture</span>
                <h3 class="name"><a href="https://www.leafbuyer.com/blog/cannabis-new-years-resolutions" target="_blank">New Year’s Resolutions for the Cannabis Enthusiast<br></a></h3>
                <p class="article-date"><i class="fa fa-clock-o"></i>November 27, 2018</p>
                <p class="description">New Year's resolutions are easy to make and hard to keep, but they don't have to be...</p>
        </div>
    </div>
    </div>
    </div>
    <div class="row projects" id="articles-leafbuyer-15">
        <div class="col-sm-6 item">
            <div class="row">
                <div class="col-md-12 col-lg-5"><a href="https://www.leafbuyer.com/blog/best-strains-for-thanksgiving" target="_blank"><img class="img-fluid" src="https://www.leafbuyer.com/blogs/content/uploads/2018/11/shutterstock_735091228.jpg" data-bs-hover-animate="pulse"></a></div>
                <div
                    class="col article-body"><span class="badge badge-primary article-badge">Strains</span>
                    <h3 class="name"><a href="https://www.leafbuyer.com/blog/best-strains-for-thanksgiving" target="_blank">The Best Strains to Pair with Your Thanksgiving Feast<br></a></h3>
                    <p class="article-date"><i class="fa fa-clock-o"></i>November 7, 2018</p>
                    <p class="description">Thanksgiving is arguably the second-best stoner holiday...</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 item">
        <div class="row">
            <div class="col-md-12 col-lg-5"><a href="https://www.leafbuyer.com/blog/weed-terms-weed-slang" target="_blank"><img class="img-fluid" src="https://www.leafbuyer.com/blogs/content/uploads/2018/11/shutterstock_703060414.jpg" data-bs-hover-animate="pulse"></a></div>
            <div class="col article-body"><span class="badge badge-primary article-badge">Culture</span>
                <h3 class="name"><a href="https://www.leafbuyer.com/blog/weed-terms-weed-slang" target="_blank">A Comprehensive Guide to Weed Terms and Slang<br></a></h3>
                <p class="article-date"><i class="fa fa-clock-o"></i>November 1, 2018</p>
                <p class="description">Getting the hang of weed terms and slang can be difficult at best...</p>
            </div>
        </div>
    </div>
    </div>
    <div class="row projects" id="articles-leafbuyer-16">
        <div class="col-sm-6 item">
            <div class="row">
                <div class="col-md-12 col-lg-5"><a href="https://www.leafbuyer.com/blog/winter-cannabis" target="_blank"><img class="img-fluid" src="https://www.leafbuyer.com/blogs/content/uploads/2018/10/shutterstock_363804116.jpg" data-bs-hover-animate="pulse"></a></div>
                <div class="col article-body"><span class="badge badge-primary article-badge">Growing</span>
                    <h3 class="name"><a href="https://www.leafbuyer.com/blog/winter-cannabis" target="_blank">Winter Cannabis: How to Grow It and Keep It Alive<br></a></h3>
                    <p class="article-date"><i class="fa fa-clock-o"></i>October 30, 2018</p>
                    <p class="description">If you know how to grow cannabis, then you already know the basics of growing winter cannabis...</p>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="../assets/js/bs-animation.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twbs-pagination/1.4.2/jquery.twbsPagination.min.js"></script>
    <script src="https://www.solodev.com/assets/pagination/jquery.twbsPagination.js"></script>
    <script src="../assets/js/pagination.js"></script>
    <script src="../assets/js/Simple-Slider.js"></script>
</body>

</html>